[Unit]
Description=robotcontextprotocol
After=syslog.target network.target

[Service]
Type=simple
Environment="TERM=xterm-256color"
WorkingDirectory=/opt/rcp/backend/release
ExecStartPre=/opt/rcp/script/check-network.sh
ExecStart=/opt/rcp/backend/release/main service
Restart=on-failure

[Install]
WantedBy=multi-user.target